{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<div class="container accounts mt-3 p-3">
    <h1 class="accounts-title">{% trans "Logout" %}</h1>

    <p>{% trans 'Are you sure you want to logout?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction btn btn-cw" type="submit">{% trans 'Logout' %}</button>
        <a href={% url 'home' %}><button type="button" class="btn btn-primary">Back</button></a>
    </form>
</div>

{% endblock %}