body {
    height: 100vh;
    background-color: #363A43;
    background: url(../images/bg.webp) no-repeat center center;
    background-size: cover;
    color: #cdcdcd;
}

A:link {
    text-decoration: none;
    color: #44ABFF;
}

A:visited {
    text-decoration: none;
    color: #44ABFF;
}

A:active {
    text-decoration: none;
    color: #44ABFF;
}

A:hover {
    text-decoration: none;
    color: red;
}

nav {
    background-color: #363A43;
}

nav A:link {
    text-decoration: none;
}

.cwlogo {
    height: 2rem;
}