{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="object-src 'none'">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A developers pre-amble for critticwars.com" />
    <link rel="icon" href="{% static 'images/cwicon.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CritticWars Dev Blog</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.critticwars.com" target="_blank"><img src="{% static 'images/cwlogo.webp' %}" alt="CritticWars" class="cwlogo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars cw-grey"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Blogs</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown cw-grey">
                        <a class="nav-link dropdown-toggle cw-grey" href="#" class="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{user.username}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Account settings dropdown">
                            <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
                            <li><a class="dropdown-item" href="{% url 'delete' %}">Delete Account</a></li>
                        </ul>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item dropdown cw-grey">
                        <a class="nav-link dropdown-toggle cw-grey" href="#" class="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="Admin Settings">
                            <li><a class="dropdown-item" href="/admin/devblog/blog/add/">New Blog</a></li>
                            <li><a class="dropdown-item" href="/admin/">Admin Panel</a></li>
                        </ul>

                        {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
                <span class="navbar-text d-none d-md-block">Developer Blog</span>
            </div>
        </div>
    </nav>

    <div class="container mt-2">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{message.tags}} alert-dismissible fade show" id="msg" role="alert">
                    {{message | safe}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Clear fixed footer at bottom -->
        <br><br>
    </main>


    <footer class="fixed-bottom flex-shrink-0 py-2">
        <div class="container text-center align-top">
            <a href="https://www.facebook.com/CritticWars" target="_blank"><i class="fab fa-facebook-square fa-lg align-middle"></i></a> | <a href="https://www.critticwars.com" target="_blank"><img class="cwicon align-middle" src="{% static 'images/cwicon.jpg' %}" alt="CritticWars"></a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>



</html>