{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="col-12">
        <div class="row">
            {{ blog.title }}
        </div>
        <div class="row">
            {{ blog.content | safe }}
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            Comments:
        </div>
        <div class="row">
            Comment goes here
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="col-12">
        <div class="row">
            Add Comment from {{ user.username }}
        </div>
        <div class="row">
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}