{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mt-3 mb-3">
    <div class="card blog-posts-container">
        <img class="card-img-top" src="{% static 'images/mainbanner.png' %}" alt="blog banner">
        <div class="card-body">
            <h5 class="card-title">
                <div class="blog-title">
                    {{blog.title}}
                </div>
            </h5>

            <p class="card-text">
                <div class="row">
                    {{ blog.content | safe }}
                </div>
                <div class="row">
                    <div class="col text-end small-font">
                        Posted by {{blog.author}} {{blog.created_on}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        {% if user.is_authenticated %}
                        <form method="POST" class="d-inline" action="{% url 'blog_like' blog.slug %}">
                            {% csrf_token %}
                            <button class="blog-posts-container cw-grey" type="submit" name="blog_id" value="{{blog.slug}}" aria-label="Like"><i class="fas fa-heart"></i></button>
                        </form>
                        {% else %}
                        <i class="fas fa-heart"></i>
                        {% endif %}
                        {{ blog.number_of_likes }} |
                        {% with num_comments.count as total_comments %}
                        <i class="far fa-comments"></i> {{total_comments}}
                        {% endwith %}
                    </div>
                </div>
            </p>
        </div>
    </div>

    {% if num_comments.count != 0 %}
    <div class="card blog-posts-container mt-2">
        <div class="card-body">
            <h5 class="card-title">
                <div class="blog-title">
                    Comments
                </div>
            </h5>
            <p class="card-text">

                {% if comments.has_other_pages %}
                <ul class="pagination">
                    {% if comments.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item"><span class="page-link no-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in comments.paginator.page_range %}
                    {% if comments.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if comments.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="page-item"><span class="page-link no-link">&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% for comment in comments %}
                <div class="container comments mb-2">
                    <div class="container comments mt-2">
                        <div class="row m-1">
                            Posted by {{comment.name}} on {{ comment.created_on }}
                        </div>
                        {% for cw_user in cw_users %}
                        {% if cw_user.user_id == comment.name_id %}
                        <div class="row m-1">
                            CritticWars: {{cw_user.cw_name}}
                            {% if cw_user.cw_id > 0 %}
                            (ID: {{cw_user.cw_id}})
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="container mt-2">
                        <div class="row">
                            <div class="col">
                                <p>
                                    {{ comment.content }}
                                    {% if comment.updated == True %}
                                    <div class="text-end small-font">
                                        Updated {{comment.updated_on}}
                                    </div>
                                    {% endif %}
                                </p>

                                {% if user.username == comment.name or user.is_superuser %}
                                <p><a href="{% url 'edit' comment.blog.slug comment.id %}"><button class="btn btn-success btn-sm">Edit</button></a>
                                    <a href="{% url 'delete' comment.blog.slug comment.id %}"><button class="btn btn-danger btn-sm">Delete</button></a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if comments.has_other_pages %}
                <ul class="pagination">
                    {% if comments.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item"><span class="page-link no-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in comments.paginator.page_range %}
                    {% if comments.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if comments.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="page-item"><span class="page-link no-link">&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}

            </p>
        </div>
    </div>
    {% endif %}

    <div class="card blog-posts-container mt-2">
        <div class="card-body">
            <h5 class="card-title">
                <div class="blog-title">
                    {% if user.is_authenticated %}
                    Add to the conversation
                    {% else %}
                    <a href="{% url 'account_login' %}">Login to join the conversation</a>
                    {% endif %}
                </div>
            </h5>
            <p class="card-text">
                {% if user.is_authenticated %}
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button class="primaryAction btn btn-cw w-100 mt-2" type="submit">Submit</button>
                </form>
                {% endif %}
            </p>
        </div>
    </div>
</div>


{% endblock %}