{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="col-12">
        <div class="row">
            {{ blog.title }}
        </div>
        <div class="row">
            {{ blog.content | safe }}
            {% if user.is_authenticated %}
            <form action="" class="d-inline" action="{% url 'blog_like' blog.slug %}">
                {% csrf_token %}
                <button type="submit" name="blog_id" value="{{blog.slug}}">Likes</button>
            </form>
            {% else %}
            Likes:
            {% endif %}
            {{ blog.number_of_likes }}
            <p>Comments: </p>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            Comments:
        </div>
        {% for comment in comments %}
        <div class="row">
            <p>{{ comment.name }}</p>
            {{ comment.content }}
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="col-12">
        <div class="row">
            Add Comment from {{ user.username }}
        </div>
        <div class="row">
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}