{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% if user.username == comment.name %}
<div class="container mt-3 mb-3">
    <div class="card blog-posts-container mt-2">
        <div class="card-body">
            <h5 class="card-title">
                <div class="blog-title">
                    Edit Post {{user.username}}, {{comment.name}} {{comment.content}} {{comment.id}}
                </div>
            </h5>
            <p class="card-text">
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit">Submit</button>
                </form>

            </p>
        </div>
    </div>
</div>
{% endif %}
{% endif %}

{% endblock %}