{% extends "base.html" %}
{% load static %}
{% block content %}

{% for blog in blog_list %}


<div class="container mt-5 blog">
    <a href="{% url 'blog' blog.slug %}">
        <img class="bg" src="{% static 'images/blog.png' %}" />
        <div class=" blog-content">
            <div class="blog-title">
                {{blog.title}}
            </div>
            <div class="blog-excerpt">
                {{blog.excerpt}}
            </div>
            <div class="blog-author">
                Posted by {{blog.author}} on {{blog.created_on}}
            </div>
        </div>
    </a>
</div>



{% endfor %}

{% endblock %}