{% extends "base.html" %}
{% load static %}
{% block content %}

{% if is_paginated %}
<div class="container">
    <nav class="pagination-style" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link mt-2 me-2">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link mt-2 ms-2"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}

{% for blog in blog_list %}
<div class="container mt-3 blog">
    <a href="{% url 'blog' blog.slug %}">
        <img class="bg" src="{% static 'images/blog.png' %}" />
        <div class=" blog-content">
            <div class="blog-title">
                {{blog.title}}
            </div>
            <div class="blog-excerpt">
                {{blog.excerpt}}
            </div>
            <div class="blog-author">
                Posted by {{blog.author}} on {{blog.created_on}}
            </div>
        </div>
    </a>
</div>
{% endfor %}

{% if is_paginated %}
<div class="container">
    <nav class="pagination-style" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link m-2">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link m-2"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}

{% endblock %}