{% extends "base.html" %}
{% load static %}
{% block content %}

{% if is_paginated %}
<ul class="pagination justify-content-center" style="margin:20px 0">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item"><span class="page-link no-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item"><span class="page-link no-link">&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}

{% for blog in blog_list %}
<div class="container mt-3 blog">
    <a href="{% url 'blog' blog.slug %}">
        <img class="bg" src="{% static 'images/blog.webp' %}" alt="Blog banner" />
        <div class=" blog-content">
            <div class="blog-title blog-title-list">
                {{blog.title}}
            </div>
            <div class="blog-excerpt d-none d-sm-block">
                {{blog.excerpt}}
            </div>
            <div class="small-font d-none d-sm-block">
                Posted by {{blog.author}} on {{blog.created_on}}
            </div>
        </div>
    </a>
</div>
{% endfor %}

{% if is_paginated %}
<ul class="pagination justify-content-center" style="margin:20px 0">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item"><span class="page-link no-link">&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item"><span class="page-link no-link">&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}