/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


/* Remove default browser padding */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
    background-color: #363A43;
    background: url("../images/bg.27f77bca4123.webp") no-repeat center fixed;
    background-size: cover;
    color: #cdcdcd;
}

A:link {
    text-decoration: none;
    color: #cdcdcd;
}

A:visited {
    text-decoration: none;
    color: #cdcdcd;
}

A:active {
    text-decoration: none;
    color: #cdcdcd;
}

A:hover {
    text-decoration: none;
    color: #cdcdcd;
}


/* Navigation bar */

nav {
    background-color: #363A43;
}

.nav-link {
    color: #44ABFF;
}

.nav-link:hover {
    color: #ff0000;
}

.cwlogo {
    height: 2rem;
}

.cw-grey {
    color: #cdcdcd;
}

/* Main pages */

.blog {
    position: relative;
}

.bg {
    width: 100%;
    display: block;
}

.blog-content {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 10%;
    left: 0;
    padding-left: 2rem;
}

.blog-title {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}

.blog-title-list {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.blog-excerpt {
    font-size: 0.5rem;
    font-style: italic;
}

.small-font {
    font-size: 0.4rem;
}


.blog A:Link {
    text-decoration: none;
    color: #cdcdcd;
}


.img-fluid {
    min-width: 100%;
}

/* Pagination */

.pagination-style {
    background-color: #fff;
    background: none;
}

.page-link {
    background: #000;
    color: #cdcdcd;
}

.page-link:hover {
    background-color: #990000;
    color: #cdcdcd;
}

/* Blog posts */

.blog-posts-container {
    background-color: #363A43;
}

.blog-image {
    min-width: 100%;
    padding: 0;
}

/* comments */

.comments {
    border: 2px solid #ccc;
    background: rgb(25, 27, 28);
}

/* Account login / register / logout */

.accounts {
    background: rgba(25, 27, 28, 0.7);
    max-width: 600px;
    border-radius: 10px;
}

.accounts-title {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.btn-cw {
    color: #cdcdcd;
    background: #9933cc;
}

.btn-cw:hover {
    color: #cdcdcd;
    background: purple;
}

/* media queries */

@media (min-width: 576px) {

    .blog-content {
        top: 0;
    }

    .blog-title {
        font-size: 1.5rem;
    }

    .blog-excerpt {
        font-size: 0.6rem;
    }

    .small-font {
        font-size: 0.4rem;
    }

}

@media (min-width: 768px) {

    .blog-title {
        font-size: 2rem;
    }

    .blog-excerpt {
        font-size: 0.8rem;
    }

    .small-font {
        font-size: 0.5rem;
    }

}


@media (min-width: 992px) {

    .blog-title {
        font-size: 2.5rem;
    }

    .blog-excerpt {
        font-size: 1rem;
    }

    .small-font {
        font-size: 0.7rem;
    }

}

@media (min-width: 1200px) {

    .blog-title {
        font-size: 3rem;
    }

    .blog-excerpt {
        font-size: 1.2rem;
    }

    .small-font {
        font-size: 0.8rem;
    }

}